/* ------------------------------------------------------------ *\
  Variables
\* ------------------------------------------------------------ */


/* ------------------------------------------------------------ *\
  Colors
\* ------------------------------------------------------------ */

$gray-100: #E0E0E0;
$gray-200: #666666;
$gray-300: #212121;

$white-100: #FFFFFF;
$white-200: #F7F7F7;

$yellow-100: #F9CF30;
$yellow-200: #DEC16B;
$yellow-300: #B69E31;
$purple-100: #B7B9D0;
$purple-200: #A891EC;
$purple-300: #70559B;
$blue-100: #9AD6DF;
$blue-200: #6493EB;
$blue-300: #7037FF;
$green-100: #74CB48;
$green-200: #A7B723;
$pink-100: #E69EAC;
$pink-200: #FB5584;
$pink-300: #A43E9E;
$red-100: #F57D31;
$red-200: #C12239;
$brown-100: #AAA67F;
$brown-200: #75574C;

/* ------------------------------------------------------------ *\
  Font
\* ------------------------------------------------------------ */

//font-size: map_get($font-size, xs);
$font-size: (
  xs: 8px,
  sm: 10px,
  md: 12px,
  lg: 14px,
  xlg: 24px
);

$font-weight: (
  regular: 400,
  semiBold: 600,
  bold: 700
);